.portfolio {
    background-color: #202020;
    color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 92px;
}

.portfolio__title {
    font-family: 'Inter', sans-serif, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
    mix-blend-mode: normal;
    text-align: left;
    margin: 0 0 29px;
}

.portfolio__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.portfolio__list-item {
    align-items: baseline;
    display: flex;
    min-height: 70px;
    font-family: 'Inter', sans-serif, serif;
    font-style: normal;
    font-weight: 400;
    padding-top: 20px;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    border-bottom: 1px solid #424242;
    justify-content: space-between;
}

.portfolio__list-item:last-of-type {
    border-bottom: none;
    padding-top: 19px;
}

.portfolio__link-text {
    margin: 0;
    padding: 0;
}

.portfolio__arrow {
    padding-right: 6px;
}

@media (max-width: 768px) {
    .portfolio {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 90px;
    }

    .portfolio__arrow {
        padding-right: 5px;
    }

    .portfolio__list-item {
        font-size: 28px;
        line-height: 50px;
    }
}

@media (max-width: 507px) {
    .portfolio {
        padding-left: 14px;
        padding-right: 14px;
        padding-bottom: 67px;
    }

    .portfolio__title {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 21px;
    }

    .portfolio__arrow {
        padding-right: 5px;
    }

    .portfolio__list-item {
        font-size: 18px;
        line-height: 28px;
    }
}

@media (max-width: 320px) {
    .portfolio__list-item {
        min-height: 48px;
        padding-top: 19px;
    }

    .portfolio__arrow {
        width: 11px;
        padding-right: 4px;
        padding-bottom: 3px;
    }
}
