.navigation {
    min-height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272727
}
.navigation__link {
    font-family: 'Inter', serif, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 40px;
}

.navigation__link:first-of-type {
    margin-left: 0
}

@media (max-width: 500px) {
 .navigation__link {
     font-size: 11px;
     margin-left: 24px;
 }
}
