/* vendor */
@import url('./vendor/normalize.css');
@import url('./vendor/fonts.css');


.page {
    height: 100dvh;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #202020;
    font-family: 'Inter', 'Arial', sans-serif;
}

.bnt {
    background-color: transparent;
    transition: 0.3s opacity ease-out;
    border: none;
    padding: 0;
}

.bnt:hover {
    opacity: .6;
}
