.navtab {
    display: flex;
    width: 100%;
    justify-content: end;
    margin-left: 44px;
    align-items: center;
}

.navtab__link.active {
    text-decoration: underline 2px;
}

.navtab__link_type_account.active {
    text-decoration: none;
}

.navtab__wrapper_disable {
    width: 100%;
}
.navtab__link {
    color: wheat;
    text-decoration: none;
    margin-right: 16px;
    /*margin-right: 30px;*/
    font-size: 13px;
    line-height: 18px;
    max-height: 16px;
    /*font-size: 12px;*/
    /*line-height: 16px;*/
    font-family: 'Inter', sans-serif, serif;
    font-style: normal;
    font-weight: 500;
    /*text-align: right;*/
}

.navtab__list {
    list-style: none;
    display: flex;
    margin: 0;
    width: 100%;
    padding: 0;
}

.navtab__item:last-of-type {
    margin-left: auto;
}

.navtab__close-menu {
    position: absolute;
    visibility: hidden;
}

/*.navtab__link:last-of-type {*/
/*    margin-right: 3px;*/
/*}*/

.navtab__out-login {
    display: flex;
    align-items: center;
}

.navtab__in-login {
    display: flex;
    align-items: center;
}

.navtab__link__account-logo {
    width: 26px;
    height: 26px;
    margin-left: 8px;
}

.navtab__link_type_account {
    display: flex;
    align-items: center;
    margin-right: 3px;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 1px;
}

.navtab__link_type_landing {
    font-size: 12px;
    line-height: 16px;
    margin-right: 30px;
}

.navtab__link_type_login {
    color: #282c34;
    background-color: #3DDC84;
    width: 76px;
    height: 32px;
    aspect-ratio: 1/1;
    display: block;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 3px;
    margin-right: 0;
}

.navtab__menu {
    visibility: hidden;
    position: absolute;
    background-color: transparent;
    border: none;
    background-image: url("../../images/menu_icon.svg");
    width: 44px;
    aspect-ratio: 1/1;
    height: 44px;
    max-height: 100%;
    /*margin-right: 0;*/
    padding: 0;
    margin: 0;
    cursor: pointer;
}

@media (max-width: 768px) {


    .navtab__link {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;

    }
    .navtab__link_login {
        font-size: 18px;
        line-height: 22px;
    }

    .navtab__menu {
        position: page;
        visibility: visible;
        margin-left: auto;
    }


    .navtab__wrapper {

    }

    .navtab__wrapper_disable {
        position: absolute;
        visibility: hidden;
    }

    .navtab__wrapper_active {
        visibility: visible;
        background-color: rgba(0, 0, 0, .3);
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }

    .navtab__list {
        background-color: #202020;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        width: 68%;
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*padding: 159px 0 0;*/
        padding: 0;
    }

    .navtab__close-menu {
        visibility: visible;
        width: 27px;
        height: 27px;
        background-color: transparent;
        border: 0;
        margin: 0;
        padding: 0;
        background-image: url('../../images/close.svg');
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 22px;
        right: 22px;
        cursor: pointer;
    }

    .navtab__item {
        margin-bottom: 28px;
    }

    .navtab__item:first-of-type {
        margin-top: 159px
    }

    .navtab__item:last-of-type {
        margin-bottom: 90px;
        margin-top: auto;
        margin-left: 0;
    }
}

@media (max-width: 440px) {
    .navtab__close-menu {
        top: 15px;
        right: 15px;
    }

    .navtab__item:first-of-type {
        margin-top: 145px;
    }
    .navtab__item:last-of-type {
        margin-bottom: 53px;
        margin-right: 0;
    }

    .navtab__link {
        font-size: 10px;
        line-height: 16px;
        margin-right: 14px;
    }

    .navtab__item {
        margin: 12px;
    }

    .navtab__link__account-logo {
        /*width: 100px*/
        margin-right: 0;
        padding-left: 7px;
    }

    .navtab__link_type_account {
        margin: 0;
        font-weight: 500;
        font-size: 13px;
        line-height: 12px;
        padding-left: 8px;
    }

    .navtab__link__account-logo {
        margin: 0;
    }

    .navtab__wrapper_active {
        width: 100%;
    }

    .navtab__list {
        width: 100%;
    }

    .navtab__menu {
        aspect-ratio: 1/1;
        height: 43px;
        object-fit: contain;
        width: 30px;
        margin-right: 9px;

    }

    .navtab__link_type_login {
        width: 54px;
        height: 26px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-right: 0;
    }

    .navtab__link_login {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-right: 0;
    }
}
